*~
node_modules/

package-lock.json

public/uploads/*
files/*.*
FILMS/*.*
FILMS-converted/*.*
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle