@font-face {
    font-family: 'DS-Digital';
       src: url('../fonts/DS-Digital-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DS-Digital';
    src:url('../fonts/DS-Digital.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}